 .chart {
 	font: 10px sans-serif;
	text-align: right;
	padding: 3px;
	margin: 0 auto;
	color: white;
}

.chart .column-text {
 	font: 10px sans-serif;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

.chart .rule {
 	font: 10px sans-serif;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

.chart rect {
	stroke:white;
	fill:steelblue;
}